.App  {
  display: inline-block;
  padding: 5px;
}


.App > div {
  margin-right: 50px;
}

.error {
  border: red 1px solid;
}
.error-messages {
  color: red;
}

.active-filter {
  background-color: aquamarine;
}

.is-done {
  opacity: 0.5;
}